<% content_for :header do %>
    <header class="form_header">
        <h1>Edit <%= @album.title %></h1>
    </header>
<% end %>
<form class="form" action="<%= album_url %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <%= auth_token %>

    <input type="hidden" name="album[band_id]" value="<%= flash[:band_id] %>">

    <input type="text" name="album[title]" value="<%= @album && @album.title ? @album.title : '' %>" placeholder="Album Title">

    <br>

    <input type="number" name="album[year]" value="<%= @album && @album.year ? @album.year : Date.today.year %>" placeholder="Album Release Year" min="1000" max="9999">

    <br>

    <p>Album type:</p>
    <input type="radio" name="album[live_album]" value="true" <%= @album && @album.live_album ? 'checked' : '' %>>
    <label for="live_album">Live Album</label>
    <br>
    <input type="radio" name="album[live_album]" value="false" <%= @album && @album.live_album.nil? ? '' : 'checked' %>>
    <label for="studio_album">Studio Album</label>

    <br>

    <input type="submit" value="Create album">


</form>

<div class="form_home">
    <%= link_to 'Go to home.', bands_url %>
</div>

<% if flash.now[:errors] %>
    <br>
    <div class="errors">
        <p><%= flash.now[:errors] %></p>
    </div>
<% end %>
